CRON_DEFINITION = */10 * * * *
CRON_DEFINITION_HB = */10 * * * *

CT_API_URL=https://heidelsheim.church.tools/
CT_USERNAME=heizung
CT_PASSWORD='<CHANGEME>'

HOMEMATIC_ACCESS_POINT_ID=<CHANGEME>
HOMEMATIC_LOOKUP_URL=https://lookup.homematic.com:48335/
HOMEMATIC_API_AUTHTOKEN=<CHANGEME>

INFLUX_HOST=https://influx.smarthome.cg-heidelsheim.de/
INFLUX_PORT=443
INFLUX_TOKEN='<CHANGEME>'
INFLUX_ORG=homematicip-test

UPTIME_KUMA_CRON_URL=http://cp.dankoe.de:34267/api/push/<CHANGEME>
UPTIME_KUMA_WS_URL=http://cp.dankoe.de:34267/api/push/<CHANGEME>

CALENDAR_CATEGORIES=2,3,5,1,14,4,39

ENVIRONMENT=local-<NAME> # or other unique identifier